<app-header></app-header>
<br />
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <p class="sellbikes">SELL YOUR BIKE TO GREEN TIGER</p>
    <p class="home">HOME > SELL > DOORSTEP INSPECTION > SUCCESS</p>
    <div class="col-8 col-sm-5 colpadding">
      <hr />
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-10 col-sm-8">
    <p style="text-align: center" class="thank_you">
      <span style="color: #18b46b; font-weight: 600">Thank You,</span>Our Team
      Will Contact You
    </p>
    <br />
    <div class="row">
      <div class="col-12 col-sm-4">
        <img src="assets/Group2.png" alt="" style="width: 100%" />
      </div>
      <div class="col-12 col-sm-8">
        <p class="verificatrion">Documents For Verification</p>
        <p class="documents_ready">
          Kindly Keep These set of Documents Ready During The Time of Visit For
          Verification
        </p>
        <ul class="a">
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ul>
      </div>
    </div>
    <br /><br /><br />

    <div class="row justify-content-center">
      <div class="col-9 col-sm-6">
        <button class="proceed" [routerLink]="['']">GO TO HOME</button>
      </div>
    </div>
  </div>
</div>
<br /><br /><br />
<!-- Footer component -->
<app-footer></app-footer>
