<app-header></app-header>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <p class="sellbikes">SELL YOUR BIKE TO GREEN TIGER</p>
    <p class="home">HOME > SELL</p>
    <div class="col-5 colpadding">
      <hr />
    </div>
    <p class="details">BIKE DETAILS</p>
  </div>
</div>
<!-- stepper -->
<div class="bgcolor">
  <div class="container">
    <app-stepper (SUbmittedValue)="otpVal($event)"></app-stepper>
  </div>
</div>
<!-- Estimated Price -->
<div *ngIf="submitted">
  <div class="container">
    <app-estimatedcost></app-estimatedcost>
  </div>
</div>

<!-- the next steps -->
<div class="container">
  <div class="row justify-content-center">
    <p class="details">The Next <span style="color: #18b46b">Steps</span></p>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 d-flex align-items-stretch">
      <div class="card card_4">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-8">
              <img
                src="assets/H3.png
            "
                alt=""
                style="width: 97%"
              />
            </div>
          </div>
          <br />
          <p class="t_align">Physical Inspection</p>

          <p class="p_align">
            Valuator will visit your location for inspection and get the final
            price offer
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 d-flex align-items-stretch">
      <div class="card card_4">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-8">
              <img
                src="assets/Group2.png
            "
                alt=""
                style="width: 125%"
              />
            </div>
          </div>
          <br />
          <p class="t_align">Document Verification</p>

          <p class="p_align">
            Vehicle documents will be verified during the inspection
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 d-flex align-items-stretch">
      <div class="card card_4">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-8">
              <img
                src="assets/bs3.png
            "
                alt=""
                style="width: 125%"
              />
            </div>
          </div>
          <br />

          <p class="t_align">Collect payment</p>

          <p class="p_align">
            Receive instant payment in your bank account and we take care of RC
            transfer for free
          </p>
        </div>
      </div>
    </div>
    <br />
  </div>
  <div class="row justify-content-center">
    <p class="details">
      Why Sell On <span style="color: #18b46b">Green Tiger?</span>
    </p>
  </div>
  <div class="row">
    <div class="col-2 col2modified">
      <div class="card cd">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-12">
              <img src="assets/sell1.png" alt="" style="width: 100%" />
            </div>
          </div>
        </div>
        <p class="pcards">Guaranteed Sale</p>
      </div>
    </div>
    <div class="col-2 col2modified">
      <div class="card cd">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-12">
              <img src="assets/sell2.png" alt="" style="width: 100%" />
            </div>
          </div>
        </div>
        <p class="pcards">Best Price</p>
      </div>
    </div>
    <div class="col-2 col2modified">
      <div class="card cd">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-12">
              <img src="assets/sell3.png" alt="" style="width: 100%" />
            </div>
          </div>
        </div>
        <p class="pcards">Instant Payment</p>
      </div>
    </div>
    <div class="col-2 col2modified">
      <div class="card cd">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-12">
              <img src="assets/sell4.png" alt="" style="width: 100%" />
            </div>
          </div>
        </div>
        <p class="pcards">Seller Safety Assured</p>
      </div>
    </div>
    <div class="col-2 col2modified">
      <div class="card cd">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-12">
              <img src="assets/sell5.png" alt="" style="width: 100%" />
            </div>
          </div>
        </div>
        <p class="pcards">No Legal Hassles</p>
      </div>
    </div>
  </div>
  <br /><br /><br />
</div>
