<img src="assets/footer.png" alt="" style="width: 100%" />
<div>
  <div class="row details">
    <div class="col-3">
      <ul>
        <li class="main-text">Info</li>
        <li>Privacy Policy</li>
        <li>Terms of Use</li>
        <li>About Us</li>
      </ul>
    </div>
    <div class="col-3 kpad">
      <ul>
        <li class="main-text">Contact</li>
        <li>2d Floor,A,212,1sr MainRd,</li>
        <li>Stage 2 ,Domlur,Bengaluru,</li>
        <li>Karnataka 560071</li>
        <li>
          <div class="row">
            <div class="col-1" style="padding: 0px">
              <i class="fa fa-phone"></i>
            </div>
            <div class="col-9 kpad">+919876543210</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-3">
      <ul>
        <li class="main-text">Legal</li>
        <li>CIN</li>
        <li>GSTIN</li>
      </ul>
    </div>
    <div class="col-3" style="padding-right: 0px">
      <ul>
        <li class="main-text">News</li>

        <a data-toggle="modal" data-target="#exampleModalCenter"
          ><li>Hiring !!!</li></a
        >
        <a><li>Be a buisness partner franchise?</li></a>
        <a><li>About Us</li></a>
      </ul>
    </div>
  </div>
</div>

<!-- Modal Contents -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal_width">
      <div class="modal-content">
        <div class="modal-body">
          <p class="title1">We Are Hiring</p>
          <p class="title2">We Will Get In Touch With You</p>

          <input
            type="email"
            class="form-control input_box"
            aria-describedby="emailHelp"
            placeholder="Name"
          />

          <input
            type="email"
            class="form-control input_box"
            aria-describedby="emailHelp"
            placeholder="Name"
          />

          <input
            type="email"
            class="form-control input_box"
            aria-describedby="emailHelp"
            placeholder="Name"
          />
          <p class="queries">
            For Queries contact us @
            <span style="color: #18b46b">joe.rivera@mail.com</span>
          </p>
          <div class="row justify-content-center">
            <div class="col-8 col-sm-5">
              <button class="submit">SUBMIT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="row">
    <div class="col-5 col-sm-2 imgpad imgalign">
      <img src="assets/logo.png" width="175x" height="43px" class="imgwid" />
    </div>
    <div class="col-7 col-sm-4 textpad">
      <p>All Rights Reserved Company Name 2020</p>
    </div>
    <div class="col-1 col-sm-3"></div>
    <div class="col-9 col-sm-3 col2 textpad" style="display: none">
      <P class="right">Follow Us:</P>
    </div>
    <div class="col-1 col1 textpad"><i class="fa fa-facebook-square"></i></div>
    <div class="col-1 col1 textpad"><i class="fa fa-twitter-square"></i></div>
    <div class="col-1 col1 textpad"><i class="fa fa-linkedin-square"></i></div>
  </div>
</footer>
