<img src="assets/footer.png" alt="" style="width: 100%" />
<div>
  <div class="row details">
    <div class="col-3">
      <ul>
        <li class="main-text">Info</li>
        <li>Privacy Policy</li>
        <li>Terms of Use</li>
        <li>About Us</li>
      </ul>
    </div>
    <div class="col-3 kpad">
      <ul>
        <li class="main-text">Contact</li>
        <li>2d Floor,A,212,1sr MainRd,</li>
        <li>Stage 2 ,Domlur,Bengaluru,</li>
        <li>Karnataka 560071</li>
        <li>
          <div class="row">
            <div class="col-1" style="padding: 0px">
              <i class="fa fa-phone"></i>
            </div>
            <div class="col-9 kpad">+919876543210</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-3">
      <ul>
        <li class="main-text">Legal</li>
        <li>CIN</li>
        <li>GSTIN</li>
      </ul>
    </div>
    <div class="col-3" style="padding-right: 0px">
      <ul>
        <li class="main-text">News</li>
        <li>Hiring !!!</li>
        <li>Be a buisness partner franchise?</li>
        <li>About Us</li>
      </ul>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div class="col-5 col-sm-2 imgpad imgalign">
      <img src="assets/logo.png" width="175x" height="43px" class="imgwid" />
    </div>
    <div class="col-7 col-sm-4 textpad">
      <p>All Rights Reserved Company Name 2020</p>
    </div>
    <div class="col-1 col-sm-3"></div>
    <div class="col-9 col-sm-3 col2 textpad" style="display: none">
      <P class="right">Follow Us:</P>
    </div>
    <div class="col-1 col1 textpad"><i class="fa fa-facebook-square"></i></div>
    <div class="col-1 col1 textpad"><i class="fa fa-twitter-square"></i></div>
    <div class="col-1 col1 textpad"><i class="fa fa-linkedin-square"></i></div>
  </div>
</footer>
