<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"
    ><img src="assets/logo.png" width="175x" height="43px"
  /></a>

  <!-- <form class="form-inline "> -->
  <div class="header-search d-none d-sm-block">
    <div class="input-group">
      <div class="input-group-prepend">
        <button
          class="btn btn-outline-secondary dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="border: 1px solid #ced4da; border-right: none"
        >
          Select City
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Bangalore</a>
          <a class="dropdown-item" href="#">Pune</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Other Cities</a>
        </div>
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Text input with dropdown button"
        style="border-left: none"
      />
    </div>

    <!-- <input
      class="form-control search-city"
      type="search"
      placeholder=""
      aria-label="Search"
    />
    <li class="nav-item dropdown select-city">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
      
        Select City
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Bangalore</a>
        <a class="dropdown-item" href="#">Pune</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Other Cities</a>
      </div>
    </li> -->
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Book Test Drive <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Rc Status <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Business Enquire <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown d-none d-sm-block">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <span class="navbar-toggler-icon"></span
        ></a>
        <ul class="dropdown-menu overlay" style="position: fixed; z-index: 2">
          <li><a href="#" class="hfonts">HOME</a></li>
          <li><a href="#" class="hfonts">WE ARE HIRING</a></li>
          <li><a href="#" class="hfonts">GREEN TIGER SHOWROOM</a></li>
          <li><a href="#" class="hfonts">OWN A FRANCHISE</a></li>
          <li><a href="#" class="hfonts">SAVING CALCULATOR</a></li>
          <li><a href="#" class="hfonts">POLICIES</a></li>
          <li><a href="#" class="hfonts">BLOG</a></li>
          <li><a href="#" class="hfonts">WARRANTY DETAILS</a></li>
          <li><a href="#" class="hfonts">CONTACT CUSTOMER CARE</a></li>
        </ul>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown d-block d-sm-none">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbardrop"
          data-toggle="dropdown"
        >
          Dropdown link
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">HOME</a>
          <a class="dropdown-item" href="#">WE ARE HIRING</a>
          <a class="dropdown-item" href="#">GREEN TIGER SHOWROOM</a>
          <a class="dropdown-item" href="#">OWN A FRANCHISE</a>
          <a class="dropdown-item" href="#">SAVING CALCULATOR</a>
          <a class="dropdown-item" href="#">POLICIES</a>
          <a class="dropdown-item" href="#">BLOG</a>
          <a class="dropdown-item" href="#">WARRANTY DETAILS</a>
          <a class="dropdown-item" href="#">CONTACT CUSTOMER CARE</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<nav>
  <!-- <form class="form-inline "> -->
  <div class="header-search d-block d-sm-none">
    <div class="input-group">
      <div class="input-group-prepend">
        <button
          class="btn btn-outline-secondary dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="border: 1px solid #ced4da; border-right: none"
        >
          Select City
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Bangalore</a>
          <a class="dropdown-item" href="#">Pune</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Other Cities</a>
        </div>
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Text input with dropdown button"
        style="border-left: none"
      />
    </div>
  </div>
</nav>
