<app-header></app-header>
<br />
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <p class="sellbikes">SELL YOUR BIKE TO GREEN TIGER</p>
    <p class="home">HOME > SELL > DOORSTEP INSPECTION > PAYMENT</p>
    <div class="col-7 col-sm-5 colpadding">
      <hr />
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-10 col-sm-6">
    <div class="row">
      <div class="col-6 col-sm-4" style="padding-right: 0px">
        <img src="assets/door_step.png" alt="" style="width: 100%" />
      </div>
      <div class="col-6 vertical" style="padding-left: 0px">
        <div>
          <p class="details">Door-Step</p>
          <p class="small_details">Our Specialist Will Visit Your Place.</p>
        </div>
      </div>
    </div>
    <br />
    <p class="_details">
      @ just <span style="color: #18b46b">₹ 250 /</span>- have the ease of being
      in your home and the inspection process will be conducted by our
      specialist at your doorstep
    </p>
    <div class="row justify-content-center">
      <div class="col-8 col-sm-10">
        <img src="assets/card.png" alt="" style="width: 100%" />
      </div>
    </div>
    <br />
    <div class="row justify-content-center">
      <div class="col-9 col-sm-6">
        <button class="proceed" [routerLink]="['/success']">PAY</button>
      </div>
    </div>
  </div>
</div>
<br /><br /><br />

<!-- Footer component -->
<app-footer></app-footer>
