/* You can add global styles to this file, and also import other style files */
@import "~keen-slider/keen-slider.min.css";

@import "~bs-stepper/dist/css/bs-stepper.min.css";
@import "~keen-slider/keen-slider.min.css";
* {
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
.row {
  margin: 0px;
}
ngx-otp-input .my-super-box-class {
  text-align: center;
  font-size: 1.25;
  outline: 0;
}
ngx-otp-input .my-super-class {
  border: 0px solid !important;
  border-bottom: 1px solid black !important;
  border-radius: 0px !important;
}
